@import './variables.scss';

.rbc-event {
  background-color: #9d5e4a;
  background-repeat: no-repeat;
  background-size: 250px;
}

.agenda-item-name__text {
  font-family: $main-font;
  max-width: 50%;
  font-size: small;
  color: rgb(255, 158, 39);
  font-weight: 600;
  transition: 0.2s all;

  &:hover {
    color: rgb(255, 140, 0);
  }
}

.agenda-item-show__text {
  font-size: x-small;
  font-weight: bold;
}

.rbc-day-slot {
  .rbc-event-label {
    display: none;
  }
}

.rbc-timeslot-group {
  min-height: 120px;
  font-family: $main-font;
  padding-top: 20px;
  font-weight: 500;
  color: #d29486;
}

.rbc-day-slot .rbc-event {
  border: 1px solid $border-color;
}

.rbc-today {
  background-color: #f9e8df;
}

.rbc-time-view {
  background: #fff5f2;
}

.rbc-btn-group {
  button {
    color: #b67b6e;
    background-color: #f9e8df;
    cursor: pointer;
    transition: 0.2s all;
    font-family: $main-font;

    &:hover {
      background-color: lighten(#b67b6e, 3%);
    }
  }
}

.rbc-toolbar {
  .rbc-toolbar-label {
    color: whitesmoke;
    font-family: $main-font;
    font-weight: 700;
    padding-right: 12%;
  }
}

.agenda-item-number__text {
  font-family: $main-font;
  max-width: 50%;
  font-size: small;
  color: #f9e8df;
  font-weight: 700;
}

.bloomberg-rbc-event {
  @extend .rbc-event;
  background-color: black;
  background-image: url('../assets/images/bloomberg-logo.png');
  background-position: bottom left;

  .agenda-item-name__text {
    color: rgb(0, 255, 13);
    font-size: medium;
  }

  .agenda-item-number__text {
    color: ghostwhite;
    font-weight: bold;
  }
}

.fox-rbc-event {
  background-color: #3e7398;
  background-image: url('../assets/images/fox-news-logo-2.png');
  background-size: 140px;

  .agenda-item-name__text {
    color: rgb(250, 248, 116);
    font-size: medium;
  }

  .agenda-item-number__text {
    color: ghostwhite;
    font-weight: bold;
  }
}

.nbc-rbc-event {
  @extend .fox-rbc-event;
  background-image: url('../assets/images/cnbc-logo-v3.png');
  background-color: rgb(39, 122, 64);
  background-blend-mode: multiply;
}

.shopping-block-event {
  background-color: #e3a363;
  .agenda-item-name__text {
    color: #ef6262;
  }
}
