.airing-table-row__container {
    td {
        font-size: 0.875rem;
        line-height: 1.43;
        letter-spacing: 0.01071em;
        display: table-cell;
        vertical-align: inherit;
        padding: 6px 16px;
        color: rgba(0, 0, 0, 0.87);
        border: none;
        font-weight: 500;
        text-align: center;
        font-family: "Neue Haas Grotesk";
        width: 15px;
    }
}

.table-header__text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 6px 16px;
    flex-direction: row-reverse;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: rgb(245, 245, 245);
    font-family: "Neue Haas Grotesk";
    font-weight: 600;
    color: darkgrey;
    width: 60px;
    text-align: center;
}

.airing-table__container {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
}

.airing-table__pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    h6 {
        font-family: "Neue Haas Grotesk";
        margin: 0 20px;
        color: #332E30;
        letter-spacing: 0.5px;
    }
}