@import '../../styles/variables.scss';
.home-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 90px;
  padding: 0px 3%;
  z-index: 10;
  position: relative;
  h1 {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #f9e9e3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.header-title {
  display: flex;
  flex-direction: row;
  padding-right: 200px;
}

.view-option__container {
  display: flex;
  flex-direction: column;
}

// view styling

.table-option__header {
  display: flex;
  font-family: $main-font;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 19px;
}

.view-icon__container {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.nav-top-row__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 178px;
  height: 60px;
}

.table-filter-menu__container {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: fixed;
  left: 0;
  background-color: whitesmoke;
  height: 70vh;
  align-items: flex-start;
  header {
    font-family: 'Neue Haas Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 60px;
    color: steelblue;
    margin-left: 10px;
  }
}

.table-filter-menu__form {
  display: flex;
  flex-wrap: wrap;
  .MuiFormControl-root {
    flex: 40%;
    margin: 1px 20px;
  }
}

.price__text-field {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  margin: 20px 0px;
}

.header-options__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 60%;
  font-family: $main-font;
}

.airing-filter__container {
  align-items: flex-start;
  background: cornflowerblue;
  border-radius: 12%;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 100px;
  padding: 0 1%;
  h6 {
    margin: 10px 0;
  }
  header {
    font-style: italic;
  }
}

.airing-filters__container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 2%;
  padding: 0 3%;
}
