.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: "Neue Haas Grotesk";
    font-weight: 500;
    font-size: 48px;
    color: white;
  }

  img {
    display: flex;
    width: 10%;
    height: 25%;
    margin-left: 40px;
  }
}

.toggle-switch {
  --width: 95px;
  --height: 45px;

  position: absolute;
  left: 90%;
  top: 10%;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle-switch .switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: aqua;
  transition: all 0.4s ease-in-out;
}
.toggle-switch .switch::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 25px;
  height: 25px;
  border-radius: calc(var(--height) / 2);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle-switch input:checked + .switch {
  background-color: #d17253;
}
.toggle-switch input:checked + .switch::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: "Neue Haas Grotesk";
  transition: all 0.4s ease-in-out;
}

.toggle-switch .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 12px;
  top: 13px;
  font-size: 16px;
  color: #4d4d4d;
  font-family: "Neue Haas Grotesk";
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle-switch .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 12px;
  top: 13px;
  color: #ffffff;
  font-family: "Neue Haas Grotesk";
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle-switch input:checked ~ .labels::after {
  opacity: 0;
}

.toggle-switch input:checked ~ .labels::before {
  opacity: 1;
}

//

.button-design {
  display: flex;
  flex-direction: row;
  margin: 0;
  border-radius: 20px;
  margin-right: 95px;
  height: 50px;
  width: 100px;
  cursor: pointer;
  justify-content: center;
  background: #83c5be;
  &:hover {
    background-color: #5ca1c1;
  }
}

.content-position {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;

  h6 {
    font-family: "Neue Haas Grotesk";
    color: white;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    margin-top: 20px;
    align-self: start;
  }

  svg {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
}

// SEARCH BAR

.container {
  position: absolute;
  top: 6%;
  left: 20%;
  transform: translateX(-50%);
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #d17253;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 25px 0 #d17253;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all 0.5s;
    }
  }
  input {
    font-family: "Neue Haas Grotesk";
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: #d17253;
    color: white;
    text-shadow: 0 0 10px #d17253;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #d17253, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 180px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -500px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}
