.cell {
  border-collapse: collapse;
  border: 1px solid black;

  padding: 5px 10px;
}

.table {
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
}

.table-head > .row {
  border-collapse: collapse;
  border: 2px solid black;
}
